.send-tx-form {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  color: #ffffff;

  h3 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
  }

  > div:nth-child(2) {
    width: 100%;

    span {
      word-break: break-word;
    }
  }

  > button {
    background: var(--tg-theme-button-color, #2481cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px auto;
    display: block;

    &:hover {
      opacity: 0.9;
    }
  }
}
