.create-jetton-demo {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
  color: #ffffff;

  h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }

  > div:nth-child(3) {
    width: 100%;

    span {
      word-break: break-word;
    }
  }

  &__error {
    color: #ff4d4f;
    font-size: 18px;
    line-height: 20px;
  }

  button {
    background: var(--tg-theme-button-color, #2481cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      opacity: 0.9;
    }
  }
}
